<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img [src]="ImagePath" alt="IMG">
				</div>

				<form #f="ngForm" (ngSubmit)="signIn(f.value)" >
					<span class="login100-form-title">
						Login
					</span>
					<div *ngIf="invalidLogin" class="alert alert-danger">
						Invalid Login/Password
					</div>
					<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="username" ngModel placeholder="Username" #username="ngModel">
						<span class="focus-input"></span>
						<span class="symbol-input">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input" type="password" name="password" ngModel placeholder="Password" #password="ngModel">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Submit
						</button>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							<a href="/google/auth">Sign in with Google</a>
						</button>
					</div>
					

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" routerLink="/register">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
