<app-nav></app-nav>
<div class="body">
    <div class="card-section">
        <div class="inner-width">
            <h1>About Us</h1>
            <div class="border"></div>
            <div class="testimonials">
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p>Last year computer engineering student at K.J Somaiya College of Engineering.He has profound
                            interest in back-end development and in love with TV series, anime and movies.</p>
                        <div class="image">
                            <img src="./../../assets/img/krunal.jpg">
                        </div>
                        <div class="details">
                            <h2>Krunal Dabhi<br><span>Full stack developer</span></h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p>Last year computer engineering at K.J Somaiya College of Engineering who has keen interest in
                            web designing and app development.In addition to this like helping others.</p>
                        <div class="image">
                            <img src="./../../assets/img/harsh.jpg">
                        </div>
                        <div class="details">
                            <h2>Harsh Gokhru<br><span>Full stack developer</span></h2>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="layer"></div>
                    <div class="content">
                        <p>Last year computer engineering at K.J Somaiya College of Engineering who has keen interest in
                            marketing and exploring new things.In love with online games.</p>
                        <div class="image">
                            <img src="./../../assets/img/arnab.jpg">
                        </div>
                        <div class="details">
                            <h2>Arnab De<br><span>Full stack developer</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>