<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">EduCare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="bachelor.html" routerLinkActive="active-link">Student</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" routerLink="/home" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    News
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/engg_feed" >Engineering and Technology</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/artdes_feed"> Art and Design</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/medicine_feed">Medicine</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/manage_feed">Business Management</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/law_feed">Law</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/media_feed">Journalism</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active-link">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="#" routerLinkActive="active-link">About Us</a>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a  data-toggle="modal" data-target="#logoutModal">Logout</a>
            </li>
        </ul>
    </div>
</nav>
