<app-nav></app-nav>
<div class="content">
  <div class="container">
    <div class="p-5 text-center">
      <h1 mb-3>News Feed<img src="https://img.icons8.com/color/48/000000/rss.png" /></h1>
    </div>
    <div class="hr-theme-slash-2">
      <div class="hr-line"></div>
      <div class="hr-icon"><img src="https://img.icons8.com/emoji/50/000000/newspaper-emoji.png" /></div>
      <div class="hr-line"></div>
    </div>
    <br>
    <div *ngFor="let item of xmlItems">
      <div class="row">
        <ul>
          <div class="card" style="width: 67rem;">
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{item.link}}">{{item.title}}</a>
              </h5>
              <div class="card-text">
                <p class="mb-0 mt-2 font-italic">{{item.description}}</p>
                <br>
                <h6>Publish Date: {{item.pubDate}} </h6>
              </div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <!-- end row -->
    <div class="hr-theme-slash-2">
      <div class="hr-line"></div>
      <div class="hr-icon"><img src="https://img.icons8.com/emoji/50/000000/newspaper-emoji.png" /></div>
      <div class="hr-line"></div>
    </div>
  </div>
  <!-- container -->
</div>
<app-footer></app-footer>